.header {
    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #4895ef;
        border-radius: 7px;
        padding: 5px;
        padding-left: 20px;
        gap: 50px;
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;
}
