.stats {
    &__container {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__image-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    &__image {
        max-height: 500px;
        overflow-y: scroll;
    }
    &__head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }
}
